# @IgnoreInspection BashAddShebang
# Use "Development" to avoid TYPO3 caching and verbose error output
# Use "Production" for maximum performance and no error output
TYPO3_CONTEXT="Development"

# Set arbitrary TYPO3_CONF_VARS values, following the convention: TYPO3__<section>[__<sub-section>]__property

# Secrets
TYPO3__SYS__encryptionKey=""
TYPO3__BE__installToolPassword=""

# DB Credentials
TYPO3__DB__Connections__Default__user=""
TYPO3__DB__Connections__Default__password=""
TYPO3__DB__Connections__Default__host=""
TYPO3__DB__Connections__Default__port=""
TYPO3__DB__Connections__Default__dbname=""
TYPO3__DB__Connections__Default__driver=""

## Site name
TYPO3__SYS__sitename=""

# Host specifics
## path to image processing binary
TYPO3__GFX__processor_path=""
TYPO3__GFX__processor_path_lzw="${TYPO3__GFX__processor_path_lzw}"

## realurl/ hostnames
TYPO3__EXTCONF__site_configuration__domainNames__default="${TYPO3_INSTALL_PROMPT_DOMAIN_NAME_DEFAULT_LANGUAGE}"
TYPO3__EXTCONF__site_configuration__domainNames__en="${TYPO3_INSTALL_PROMPT_DOMAIN_NAME_DE_LANGUAGE}"

# optional values
TYPO3__BE__adminOnly="0"
