.DS_Store
/.idea
/nbproject
/vendor/*
/var/log/*
!/var/log/.gitkeep
/var/cache/*
!/var/cache/.gitkeep
/var/storage/*
!/var/storage/.gitkeep
/bin
/typo3cms
/.env
/.php_cs.cache

/web/typo3conf/*
!/web/typo3conf/l10n

/web/FIRST_INSTALL
/web/fileadmin
/web/uploads
/web/typo3temp
/web/typo3
/web/index.php

